<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ereignisse</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>
  <ion-fab top right edge>
    <button ion-fab mini (click)="addEvent()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <div class="distance-dummy"></div>

  <ion-label style="text-align:center;"><strong>{{ viewTitle }}</strong></ion-label>

  <ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">

      <ion-item-sliding *ngFor="let event of selectedDate?.events">

        <ion-item (click)="onEventSelected(event)">
          <span *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn">{{event.startTime|date: 'HH:mm'}} - {{event.endTime|date:
            'HH:mm'}}
          </span>
          <span *ngIf="event.allDay" class="monthview-eventdetail-timecolumn">{{allDayLabel}}</span>
          <span class="event-detail"> | {{event.title}}</span>
        </ion-item>
        <ion-item-options>
          <button ion-button expandable color="danger" (click)="onEventDelete(event)">
            <ion-icon name="trash"></ion-icon>Löschen
          </button>
        </ion-item-options>

      </ion-item-sliding>

      <ion-item *ngIf="selectedDate?.events.length==0">
        <div class="no-events-label">Keine Ereignisse</div>
      </ion-item>

    </ion-list>
  </ng-template>


  <calendar
    [monthviewEventDetailTemplate]="template"
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    step="30"
    class="calendar">
  </calendar>
</ion-content>
